<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets</title>
</head>
<body>
{% if pets %}
<ul>
    {% for pet in pets %}
    <li>
        <a href="{% url 'pets:pet_details' pet.id %}">{{pet}}</a>
    </li>
    {% endfor %}
</ul>

{% endif %}
{% include "add_pet_form.html" %}
</body>
</html>